.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 250px 120px 150px 120px;
    position: relative;    
    overflow: hidden;
  }
  
  .main-banner:after {
    content: '';
    /* background-image: url(./image/slider-left-dec.png); */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .main-banner .left-content {
    margin-right: 15px;
  }
  
  .main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .main-banner .left-content p {
    margin-bottom: 45px;
    color: #2a2a2a;
    position: relative;
    font-weight: 400;
    z-index: 2 !important;
  }
  
  .main-banner .left-content .first-button {
    margin-right: 15px;
    z-index: 2;
    position: relative;
  }
  
  .main-banner .left-content .white-button {
    display: inline-block;
    z-index: 3;
    position: relative;
  }
  
  .main-banner .right-image {
    text-align: center;
    position: relative;
    z-index: 3;
  }
  
  .main-banner .right-image img {
    max-width: 710px;
  }
  
  .main-banner .left-content .white-button a {
    background-color: #4b8ef1;
    color: #fff !important;
  }
  
  
  
  @media (max-width: 1200px) {
    .main-banner .left-content h2 {
      z-index: 2;
      position: relative;
      font-weight: 700;
      line-height: 70px;
      font-size: 50px;
      margin-bottom: 20px;
    }
  
    .main-banner .left-content p {
      margin-bottom: 45px;
    }
  }
  
  @media (max-width: 992px) {

    .main-banner .left-content h2 {
        color: #2a2a2a;
        margin-right: 0;
      }
      .main-banner:after {
        content: '';
        background-image: none;
      }

      .main-banner .left-content p {
        color: black;
        font-size: 18px !important;
        margin-right: 0;
      }
      .main-banner .left-content .white-button a {
        background-color: #4b8ef1;
        color: #fff !important;
      }
    .main-banner .left-content {
      margin-right: 0px;
    }
    .main-banner {
      text-align: center;
      padding: 226px 0px 30px 0px;
    }
    .main-banner:before {
      display: none;
    }
    .main-banner .right-image {
      margin: 30px auto 0px auto;
      text-align: center;
    }
}


